body{
    font-family: Verdana;
    background:url('../img/Banner.jpg');
    background-repeat: repeat;
}


h1,p{
    color: #000000;
    text-align: center;
}

div{
    width: 60%;
    height: 500px;
    background: #FFFFFF;
    margin: auto;


}

.negritas{
    font-weight: bold;
    font-size: 18px;
}